autopep8
django
django-environ
django-extensions
djangorestframework
psycopg2-binary
django-import-export
graphene-django
gunicorn==20.1.0
gevent==21.1.2
setuptools>=65.5.1 # not directly required, pinned by Snyk to avoid a vulnerability